extends layout

block content
  main
    .container.main-body
      .row.titlebar
        .row
          form.d-flex.col-sm
            input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
            button.btn.btn-outline-success(type='submit') Search
          .col-sm-2.dropdown
            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Filter
            ul.dropdown-menu(aria-labelledby='dropdownMenuButton')
              li
                a.dropdown-item(href='#') Career
              li
                a.dropdown-item(href='#') Fitness
              li
                a.dropdown-item(href='#') Finance
              li
                a.dropdown-item(href='#') Education

      .sort
        ul.row
          li.col-sm
            | Title 
            i.fas.fa-sort
          li.col-sm-2
            | Time Spend 
            i.fas.fa-sort
          li.col-sm-2
      .items
          each task, i in tasks
            if task.hashtag===Career 
              ul.row.red
                li.col-sm=task.title
                li.col-sm-2=task.hours_spend
                li.col-sm-1
                  a(href='/delete/'+task.taskId)
                    i.fas.fa-trash
                li.col-sm-1
                  .dropdown
                    // Trigger
                    a#dropdownMenu2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      i.fas.fa-ellipsis-v
                    // Menu
                    .dropdown-menu.dropdown-primary
                      a.dropdown-item(href='/view/'+task.taskId)
                        |   View
                      a.dropdown-item(href='/track/'+task.taskId)
                        |   Track
            if task.hashtag===Fitness 
              ul.row.green
                li.col-sm=task.title
                li.col-sm-2=task.hours_spend
                li.col-sm-1
                  a(href='/delete/'+task.taskId)
                    i.fas.fa-trash
                li.col-sm-1
                  .dropdown
                    // Trigger
                    a#dropdownMenu2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      i.fas.fa-ellipsis-v
                    // Menu
                    .dropdown-menu.dropdown-primary
                      a.dropdown-item(href='/view/'+task.taskId)
                        |   View
                      a.dropdown-item(href='/track/'+task.taskId)
                        |   Track
            if task.hashtag===Finance
              ul.row.blue
                li.col-sm=task.title
                li.col-sm-2=task.hours_spend
                li.col-sm-1
                  a(href='/delete/'+task.taskId)
                    i.fas.fa-trash
                li.col-sm-1
                  .dropdown
                    // Trigger
                    a#dropdownMenu2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      i.fas.fa-ellipsis-v
                    // Menu
                    .dropdown-menu.dropdown-primary
                      a.dropdown-item(href='/view/'+task.taskId)
                        |   View
                      a.dropdown-item(href='/track/'+task.taskId)
                        |   Track
            else
              ul.row.yellow
                li.col-sm=task.title
                li.col-sm-2=task.hours_spend
                li.col-sm-1
                  a(href='/delete/'+task.taskId)
                    i.fas.fa-trash
                li.col-sm-1
                  .dropdown
                    // Trigger
                    a#dropdownMenu2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      i.fas.fa-ellipsis-v
                    // Menu
                    .dropdown-menu.dropdown-primary
                      a.dropdown-item(href='/view/'+task.taskId)
                        |   View
                      a.dropdown-item(href='/track/'+task.taskId)
                        |   Track

          .add
            a.btn.btn-outline-info(href='/add' role='button') Add Item
