extends layout

block content
  main
    .container.main-body
      .row.titlebar
        .row
      .sort
        ul.row
          li.col
            | Title 
            
          li.col-sm-3.col-lg-2
            | Time Spend 
          
          li.col-sm-2.col-lg-2
      .items
          each task, i in tasks
            if task.hashtag==='Career'
              ul.row.red
                li.col-sm=task.title
                li.col-1.col-sm-2=task.hours_spend
                li.col-sm-1
                  a(href='/delete/'+task.taskId)
                    i.fas.fa-trash
                li.col-sm-1
                  .dropdown
                    a#dropdownMenu2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      i.fas.fa-ellipsis-v
                    .dropdown-menu.dropdown-primary
                      a.dropdown-item(href='/view/'+task.taskId)
                        |   View
                      a.dropdown-item(href='/track/'+task.taskId)
                        |   Track
            if task.hashtag==='Fitness' 
              ul.row.green
                li.col-sm=task.title
                li.col-sm-2=task.hours_spend
                li.col-sm-1
                  a(href='/delete/'+task.taskId)
                    i.fas.fa-trash
                li.col-sm-1
                  .dropdown
                    // Trigger
                    a#dropdownMenu2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      i.fas.fa-ellipsis-v
                    // Menu
                    .dropdown-menu.dropdown-primary
                      a.dropdown-item(href='/view/'+task.taskId)
                        |   View
                      a.dropdown-item(href='/track/'+task.taskId)
                        |   Track
            if task.hashtag==='Finance'
              ul.row.blue
                li.col-sm=task.title
                li.col-sm-2=task.hours_spend
                li.col-sm-1
                  a(href='/delete/'+task.taskId)
                    i.fas.fa-trash
                li.col-sm-1
                  .dropdown
                    // Trigger
                    a#dropdownMenu2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      i.fas.fa-ellipsis-v
                    // Menu
                    .dropdown-menu.dropdown-primary
                      a.dropdown-item(href='/view/'+task.taskId)
                        |   View
                      a.dropdown-item(href='/track/'+task.taskId)
                        |   Track
            if task.hashtag==='Education'
              ul.row.yellow
                li.col-sm=task.title
                li.col-sm-2=task.hours_spend
                li.col-sm-1
                  a(href='/delete/'+task.taskId)
                    i.fas.fa-trash
                li.col-sm-1
                  .dropdown
                    // Trigger
                    a#dropdownMenu2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      i.fas.fa-ellipsis-v
                    // Menu
                    .dropdown-menu.dropdown-primary
                      a.dropdown-item(href='/view/'+task.taskId)
                        |   View
                      a.dropdown-item(href='/track/'+task.taskId)
                        |   Track

          .add
            a.btn.btn-outline-info(href='/add' role='button') Add Item
