extends layout

block content
  .container
    h2.view-title #{task.title}
    ul.row.view-item
      li.col-sm-12 Title : 
        span #{task.title}
      li.col-sm-12 Goal : 
        span #{task.description}
      li.col-sm-12 Start Date : 
        span #{task.hashtag}
      li.col-sm-12 End Date : 
        span #{task.end_date}
      li.col-sm-12 Completed : 
        span #{task.completed}
      li.col-sm-12 Time Spend on Task : 
        span #{task.hours_spend}
    .track
      a.btn.btn-outline-info(href='/track/'+task.taskId role='button') Track Item
