extends layout

block content
  .container
    h2 View Item
    ul.row.view-item
      li.col-sm-12 Title : 
        p #{task.title}
      li.col-sm-12 Goal : 
        p #{task.description}
      li.col-sm-6 Start Date : 
        p #{task.start_date}
      li.col-sm-6 End Date : 
        p #{task.end_date}
      li.col-sm-12 Completed : 
        p #{task.completed}
      li.col-sm-6 Time Spend on Task : 
        p #{task.hours_spend}
      li.col-sm-6 Hastag : 
        p #{task.hashtag}
    .track
      a.btn.btn-outline-info(href='/track/'+task.taskId role='button') Track Item
